<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo">&nbsp School Connect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboard">Your Posts</a></li>
        <li><a href="/posts">All Posts</a></li>
        <li><a href="">School Led Initiatives</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
</nav>
        