<h1>Welcome to Student Connect</h1>
<div>
    <a href="/auth/google" class="waves-effect waves-light btn">Google Login/Sign Up</a>
</div>
<div>
    <img src="/images/connect.png" class="login_image" alt="" srcset="">
</div>